/*-- Fonts --*/

@font-face {
    font-family: 'Jomhuria';
    src: url('@/assets/fonts/Jomhuria-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('@/assets/fonts/Inter-Regular.ttf') format('truetype');
}



/*-- Var --*/

:root {
    --font-title: 'Jomhuria', sans-serif;
    --font-main: 'Inter-Regular',  sans-serif;
    --font-title-size: 4rem; 
    --font-title-size2: 3rem; 
    --font-main-size: 1rem; 

    --color-white: #E6E6E6; 
    --color-black: #121212; 
    --color-black-opacity: rgba(30, 30, 30, 0.3);
    --color-orange:#FFBE00;
    --color-gray:#303030;
    --color-p:#989898; 

    --border-radius:10px; 
    --blur: 30px; 

    --margin:15px; 
    --margin1 : calc(2 * var(--margin));
    --margin2 : calc(4 * var(--margin));
}


/*-- Base --*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: var(--font-main-size);
    color: var(--color-white);
    cursor:default;

}

body{
    background-color: var(--color-black);
    color: var(--color-white);
}
#app{
    overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}





h1, h1 span {
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    line-height: 1; 
    letter-spacing: 2px;

}

h2{
    font-family: var(--font-title);
    font-size: var(--font-title-size2);
    letter-spacing: 2px;
}


a p{
    cursor: pointer;
  }

button{
    cursor: pointer;
}
.actionBtn {
    margin-top: var(--margin1);
    width: 100%;
    border: none;
    height: 40px;
    color: var(--color-black);
    background-color: var(--color-orange);
    border-radius: var(--border-radius);
    font-family: 'Jomhuria';
    font-size: 2rem;
    line-height: 0.5;
    padding-top: 5px;
    transition: 0.2s; 
    padding-left: var(--margin);
    padding-right: var(--margin);
    
}
.actionBtn:hover{
    color: var(--color-white);
    background-color: var(--color-gray);
    transition: 0.2s;
}
